global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'spring-boot-microservices'
    metrics_path: /actuator/prometheus
    # Targets for services running on the host (Windows) and services running as containers
    static_configs:
      - targets: ['host.docker.internal:8081','host.docker.internal:8082','host.docker.internal:8083']
        labels:
          group: 'ecommerce-services'

    # Relabeling to ensure scraped metrics include the service name as a label when possible
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
      - source_labels: [__meta_address__]
        target_label: instance
